@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #fff;
    color: black;
    margin: 2em;
}

h1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
    border: 2px solid #ff6400;
    padding: 15px 30px;
    border-radius: 0.5em;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#file-list {
    margin-top: 1em;
}

.character-button, .reset-button {
    border: none;
    border-radius: 0.5em;
    color: black;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    margin: 2em 0 0 0.5em;
    font-weight: bold;
}

.reset-button {
    color: black;
    background-color: #fff;
    border: 2px solid #ff6400;
    font-weight: normal;
}

#file-upload-button {
    display: none;
}

#loading {
    margin-top: 5em;
}

#result {
    width: 35vw;
    text-align: justify;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 5em;
}

@media screen and (max-width: 1400px) {
    #result {
        width: 50vw;
    }

}

@media screen and (max-width: 1250px) {
    #result {
        width: 65vw;
    }
}

@media screen and (max-width: 1000px) {
    #result {
        width: 75vw;
    }
}

.personnage-replique {
    margin: 5px 0;
}

.replique, .replique-line{
    display: inline;
    text-align: justify;
}